#### Bibliotecas
- Instale o selenium (pip install selenium)
- Instale o webdriver (pip install webdrive-manage)

In [28]:
import pandas as pd
import time

dados = pd.read_csv('produtos.csv')
display(dados)

,codigo,marca,tipo,categoria,preco_unitario,custo,obs
0,MOLO000251,Logitech,Mouse,1,25.95,6.5,NaN
1,MOLO000192,Logitech,Mouse,2,19.95,5.0,NaN
2,CAHA000251,Hashtag,Camisa,1,25.00,11.0,NaN
3,CAHA000252,Hashtag,Camisa,2,25.00,11.0,Conferir estoque
4,MOMU000111,Multilaser,Mouse,1,11.99,3.4,NaN
...,...,...,...,...,...,...,...
288,ACAP000192,Apple,Acessorios,2,19.00,3.8,NaN
289,ACSA0009.3,Samsung,Acessorios,3,9.55,2.1,NaN
290,CEMO000271,Motorola,Celular,1,279.00,72.5,NaN
291,FOMO000152,Motorola,Fone,2,150.00,33.0,NaN
292,CEMO000223,Motorola,Celular,3,229.00,55.0,NaN

In [ ]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager


servico = Service(ChromeDriverManager().install())
navegador = webdriver.Chrome(service=servico)

#### Abrindo navegador
- Acessando o formulario ("https://forms.gle/Eukrim8YfgKv2vrj9")

In [20]:
navegador.get("https://docs.google.com/forms/d/e/1FAIpQLSe_B12baLoFTCbRWBQuZLzQqlGQbQoC6KXsJLGeGiB8nsv52g/viewform")

#### Preenchendo os campos

In [31]:
for linha in dados.index:
    codigo = dados.loc[linha,"codigo"]
    marca = dados.loc[linha,"marca"]
    tipo = dados.loc[linha,"tipo"]
    categoria = dados.loc[linha,"categoria"]
    preco_unitario = dados.loc[linha,"preco_unitario"]
    custo = dados.loc[linha,"custo"]

    navegador.find_element('xpath', '//*[@id="mG61Hd"]/div[2]/div/div[2]/div[1]/div/div/div[2]/div/div[1]/div/div[1]/input').send_keys(str(codigo))

    time.sleep(1)
    navegador.find_element('xpath', '//*[@id="mG61Hd"]/div[2]/div/div[2]/div[2]/div/div/div[2]/div/div[1]/div/div[1]/input').send_keys(str(marca))

    time.sleep(1)
    navegador.find_element('xpath', '//*[@id="mG61Hd"]/div[2]/div/div[2]/div[3]/div/div/div[2]/div/div[1]/div/div[1]/input').send_keys(str(tipo))

    time.sleep(1)
    navegador.find_element('xpath', '//*[@id="mG61Hd"]/div[2]/div/div[2]/div[4]/div/div/div[2]/div/div[1]/div/div[1]/input').send_keys(str(categoria))

    time.sleep(1)
    navegador.find_element('xpath', '//*[@id="mG61Hd"]/div[2]/div/div[2]/div[5]/div/div/div[2]/div/div[1]/div/div[1]/input').send_keys(str(preco_unitario))

    time.sleep(1)
    navegador.find_element('xpath', '//*[@id="mG61Hd"]/div[2]/div/div[2]/div[6]/div/div/div[2]/div/div[1]/div/div[1]/input').send_keys(str(custo))

    time.sleep(1)
    navegador.find_element('xpath', '//*[@id="mG61Hd"]/div[2]/div/div[3]/div[1]/div[1]/div/span/span').click()

    time.sleep(1)
    navegador.find_element('xpath', '/html/body/div[1]/div[2]/div[1]/div/div[4]/a').click()

    time.sleep(3)

    if linha == 3: 
        break # COLOQUEI ESSE BREAK PARA O PROGRAMA NÃO JOGAR TODA A TABELA DE UMA VEZ DURANTE OS TESTES